{% extends "ajax/help/shell.html.twig" %}
{% block title %}{{'Hilfe'|trans({}, 'game')}} - {{'Wie wähle ich ein sicheres Passwort?'|trans({}, 'help')|raw}}{% endblock %}
{% block helpContent %}
<div class="helpArt">{{ 'Spielanleitung'|trans({},'help')|raw }}</div>
<h1>{{ 'Wie wähle ich ein sicheres Passwort?'|trans({},'help')|raw }}</h1>
<p>{{ 'Um deinen Account effektiv zu schützen, brauchst du ein sicheres Passwort. Dein Passwort ist vertraulich und sollte niemandem mitgeteilt werden. <strong>Ein gutes Passwort ist der beste Schutz gegen Accountdiebstähle.</strong> Wir raten dir folgende Ratschläge zu beherzigen:'|trans({},'help')|raw }}
</p><ul>
<li>{{ 'Dein Passwort darf keine Sonderzeichen enthalten.'|trans({},'help')|raw }}</li>
<li>{{ 'Ein Passwort darf Großbuchstaben, Buchstaben und Zahlen enthalten. Nutze diese Möglichkeit!'|trans({},'help')|raw }}</li>
{# <li>Dein Passwort darf nicht mehr als <strong>32 Zeichen</strong> enthalten.</li> #}
<li>{{ 'Wenn du noch Fragen hast, empfehlen wir dir folgende Seite: <a href=%url_pass%>Password Tester</a>'|trans({'%url_pass%': 'https://www.security.org/how-secure-is-my-password'},'help')|raw }}</li>
</ul><p></p>
<div class="clear"></div>
<a class="button" x-ajax-href="{{ url('help', {'name': 'quarantined_towns'}) }}"><img src="{{ asset('build/images/icons/small_move.gif') }}" alt="move"> {{'Weiter'|trans({}, 'help')}}:<strong> {{ 'Stadt unter Quarantäne'|trans({},'help') }}</strong></a>
{% endblock %}